site_name: codeGROOVE
site_url: https://docs.codegroove.dev
site_description: Developer tools that make collaboration effortless
site_author: codeGROOVE

theme:
  name: material
  palette:
    scheme: default
    primary: custom
    accent: custom
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  font:
    text: Inter
    code: JetBrains Mono

nav:
  - Home: index.md
  - reviewGOOSE:
    - reviewgoose/index.md
    - Getting Started: reviewgoose/getting-started.md
    - GitHub: reviewgoose/github-bot.md
    - Web: reviewgoose/dashboard.md
    - Slack: reviewgoose/slack.md
    - Desktop: reviewgoose/goose.md
    - Plans: reviewgoose/plans.md
    - Security: reviewgoose/security.md
  - grooveASSIGN:
    - grooveassign/index.md
    - Getting Started: grooveassign/getting-started.md
    - Configuration: grooveassign/configuration.md
  - gitIDENTITY:
    - gitidentity/index.md
    - Getting Started: gitidentity/getting-started.md
    - API: gitidentity/api.md
  - Support: https://codegroove.dev/support

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true

plugins:
  - search

extra_css:
  - stylesheets/custom.css

extra:
  generator: false

copyright: Copyright &copy; 2025 codeGROOVE. All rights reserved.
